<h1>Insertar Empleados</h1>
<form method="post">
    <label>Apellido: </label>
    <input class="form-control" type="text" name="apellido" />
    <label>Oficio: </label>
    <input class="form-control" type="text" name="oficio" />
    <label>DIR: </label>
    <input class="form-control" type="text" name="dir" />
    <label>Salario: </label>
    <input class="form-control" type="text" name="salario" />
    <label>Comision: </label>
    <input class="form-control" type="text" name="comision" />
    <label>Nombre Departamento: </label>
    <input class="form-control" type="text" name="nombreDepart" />
    <button class="btn btn-info">
        Insertar empleado
    </button>
</form>